<!--
<h1>All posts</h1>
{{#each posts}}
<h3>{{title}}</h3>
<p>{{content}}</p>
<p>{{username.username}}</p>
<p>{{dateCreated}}</p>
{{else}}
<p>no posts yet</p>
{{/each}}
-->
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">POSTS</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    {{#each posts}}
    <div class="card text-center" style="margin: auto; padding-top: 15px; padding-bottom: 15px; margin-top: 15px; margin-bottom: 15px; width: 60%; height: 100%;">
        <div class="card-header">
            <span style="float: right; margin: auto; margin-left: 10px;">
                <form action="/posts/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name='_method' value="DELETE">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </span>
            <span style="float: right; margin: auto;">
                <a href="#" class="btn btn-secondary">EDIT</a>
            </span>
        </div>
        <div class="card-header">
            <span style="float: right;">
                <p class="card-text text-secondary">Author: {{username.username}}</p>
            </span>

            <span style="float: left">
                <p class="card-text text-secondary">Post is {{typeOfPost}}</p>
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{content}}</p>
            <a href="/posts/{{id}}" class="btn btn-primary">Check Post </a>
            <a href="/posts/comments/all" class="btn btn-primary">Comments </a>
        </div>
        <div class="card-footer text-muted">
            {{dateCreated}}
        </div>
    </div>
    {{else}}
    <div class="alert alert-secondary" role="alert">
        No Posts yet!
    </div>
    {{/each}}
</div>