<h1>One post</h1>
{{#if post}}
<div class="card">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <div class="container">
        <h3>Comment section</h3>
        {{#if comments}}
        <div class="container">
            <p>{{bodyComment}}</p>
            {{else}}
            <p>No comments yet</p>
        </div>
        {{/if}}
    </div>
</div>
{{else}}
<p>smt wrong</p>
{{/if}}

<div class="container" style="width: 45%; magin: auto; padding-top: 20px;">
    <h1>Comment Form</h1>
    <form action="/posts/comments" method="POST">
        <div class="form-group">
            <label for="bodyComment">Comment </label>
            <input type="text" class="form-control" id="bodyComment" placeholder="comment" name="bodyComment">
        </div>
        <button type="submit" class="btn btn-primary">Comment </button>
    </form>
</div>